* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.upper ul {
    display: flex;
    gap: 49px;
    list-style: none;
    padding: 20px;
    font-size: 17.5px;
    margin-right: 8px;
}

.img {
    height: 124px;
    width: 130px;
}

.upper ul a {
    font-size: 17.5px;
    text-decoration-line: none;
    color: #303c6c;
}

.logo {
    margin-left: 50px;
}

.arrow {
    height: 15px;
    width: 12px;
    margin-top: 8px;
    transition: all 0.3s ease;
}

.arrow:hover {
    height: 16px;
    width: 13px;
}

.line0 {
    transform: rotate(90deg);
    padding-top: 70px;
    right: 30px;
}

.u {
    transition: all 0.3s ease;
    display: flex;
    gap: 4px;
}

.d {
    font-size: 22px;
    text-decoration: none;
    color: #303c6c;
    position: relative;
    font-weight: bold;
}

.d.Active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 3px solid black;
    bottom: -6px;
}

.d:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 3px solid black;
    bottom: -6px;
    transition: width 0.3s;
}

.d:hover:before {
    width: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
}

.dropdown-content {
    background-color: #ffffff;
    display: none;
    position: absolute;
    min-width: 220px;
    z-index: 0;
    /* box-shadow: 5px 10px #a7a7a7; */
}

.dropdown-content a {
    color: black;
    font-weight: 500;
    margin-left: 0px;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
    color: #050505;
    background-color: #d9d7d7;
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mobile-nav-icon {
    width: 3.5rem;
    height: 3.5rem;
}

.mobile-navbar-btn {
    display: none;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}

@media (max-width: 720px) {
    .mobile-navbar-btn {
        display: block;
        padding: 12px;
        margin-right: 5px;
        padding-bottom: 18px;
        z-index: 999;
        color: white;
    }

    .header .logo img {
        width: 80px;
        height: 80px;
    }

    .header {
        position: relative;
    }

    .upper {
        width: 100%;
        height: 100vh;
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        /* to get the transition */

        transform: translateX(100%);
        transition: all 0.4s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .upper-ul {
        flex-direction: column;
        align-items: center;
    }

    .upper-ul .d {
        color: white;
        font-size: 25px;
    }

    .active .upper {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        color: black;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }
}

.mobile-nav-icon {
    width: 3.5rem;
    height: 3.5rem;
}

.mobile-navbar-btn {
    display: none;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}

@media (max-width: 720px) {
    .mobile-navbar-btn {
        display: block;
        padding: 12px;
        margin-right: 5px;
        padding-bottom: 18px;
        z-index: 999;
        color: white;
    }

    .header .logo img {
        width: 80px;
        height: 80px;
    }

    .header {
        position: relative;
        z-index: 9999;
    }

    .upper {
        width: 100%;
        height: 100vh;
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        /* to get the transition */

        transform: translateX(100%);
        transition: all 0.4s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .upper-ul {
        flex-direction: column;
        align-items: center;
    }

    .upper-ul .d {
        color: white;
        font-size: 25px;
    }

    .active .upper {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        color: black;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }
}

/* FOOTER */

footer {
    background-color: #171717;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.footer-section {
    margin-bottom: 10px;
}

.footer-section h10 {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #23f5ff;
    /* Heading color */
    font-size: 25px;
    font-family: "Times New Roman", serif;
    display: inline-block;
    border-bottom: 2px solid #e91e63;
    /* Adjust the underline color and thickness */
}

.footer-section h11 {
    margin-bottom: 15px;
    margin-top: 19px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #23f5ff;
    /* Heading color */
    font-size: 25px;
    font-family: "Times New Roman", serif;
    display: inline-block;
    border-bottom: 2px solid #e91e63;
    /* Adjust the underline color and thickness */
}

.footer-section h14 {
    margin-bottom: 15px;
    margin-top: -2px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #23f5ff;
    /* Heading color */
    font-size: 25px;
    font-family: "Times New Roman", serif;
    display: inline-block;
    border-bottom: 2px solid #e91e63;
    /* Adjust the underline color and thickness */
}

.footer-section h12 {
    padding-bottom: 5px;
    margin-top: 6px;
    font-weight: bold;
    color: #23f5ff;
    /* Heading color */
    font-size: 25px;
    font-family: "Times New Roman", serif;
    display: inline-block;
    border-bottom: 2px solid #e91e63;
    /* Adjust the underline color and thickness */
}

.footer-section h13 {
    margin-top: -2px;
    padding-bottom: 5px;
    margin-right: 40px;
    font-weight: bold;
    color: #23f5ff;
    /* Heading color */
    font-size: 25px;
    font-family: "Times New Roman", serif;
    display: inline-block;
    border-bottom: 2px solid #e91e63;
    /* Adjust the underline color and thickness */

}

.footer-section p {
    margin: 0;
    padding: 0;
    color: #ffffff;
    /* Paragraph color */
    font-size: 18px;
    font-family: "Times New Roman", serif;
}

.footer-section .x {
    margin: 0;
    padding: 0;
    color: #ffffff;
    /* Paragraph color */
    margin-left: 40px;
    font-size: 18px;
    font-family: "Times New Roman", serif;
}


.social-icons {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    display: flex;
    /* Display the icons horizontally */
    align-items: center;
    /* Center the icons vertically */
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons img {
    height: auto;
    width: 25px;
}

.creators-list {
    margin-top: 35px;
    padding: 0;
    list-style: none;
    display: flex;
    /* Display the creators horizontally */
    align-items: center;
    /* Center the creators vertically */

}

.creators-list li {
    margin-right: 10px;
    font-size: 18px;
    margin-top: -20px;
}

.creators-list li:last-child {
    margin-right: 0;
}

.creators-list li a {
    color: #ffffff;
    /* Replace #ff0000 with the desired color code */
}

@media (max-width: 768px) {


    .footer-section h10 {
        margin: 0;
        align-items: left;
    }

    .footer-section h11 {
        margin-top: 0px;
    }

    .footer-section .x {
        align-items: left;
        margin-left: 0;
        margin-top: 10px;
    }

    .footer-section h13 {
        margin-top: 5px;
    }
}

h1 {
    text-align: center;
    background-color: #303c6c;
    color: #1ee6aa;
    padding: 20px;
}

.container {
    margin: 0 auto;
    padding-left: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Add this property */
}

.left-image,
.right-image {
    width: 30%;
    /* Adjust the width as desired */
    overflow: hidden;
    margin: 10px;
    /* Add margin as needed */
    padding: 10px;
    /* Add padding as needed */
    display: flex;
    flex-direction: column;
}

.left-image img,
.right-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-grow: 1;
    /* Occupy remaining vertical space */
}

.slider-window {
    width: 40%;
    margin: 10px;
    /* Add margin as needed */
    padding: 10px;
    /* Add padding as needed */
    position: relative;

}

.slider-image {
    width: 100%;
    height: auto;
    display: none;
}

.slider-image.active {
    display: block;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.slider-prev {
    left: 0;
}

.slider-next {
    right: 0;
}

.content-box {
    background-color: #ccc;
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 10px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 30px;
}

.content-box p {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.content-box h2 {
    margin-top: 0;
    font-size: 24px;
}

.inner-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 16px;
}

/* Media query for screens smaller than 480px (Mobile) */
@media (max-width: 480px) {
    .h1 {
        font-size: 30px;
    }

    .content-box {
        width: calc(100%-20px);
        margin: 0 auto;
        padding: 30px;
        box-sizing: border-box;
    }

    .row {
        flex-direction: column;
    }
}




/* Media query for screens between 481px and 768px (Tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-image,
    .right-image {
        width: 100%;
    }

    .slider-window,
    .content-box {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }
}




@media (max-width: 480px) {
    .h1 {
        font-size: 30px;
    }

    .content-box {
        width: 90%;
        max-width: 400px;
        /* Limit the maximum width of the content box */
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        flex-direction: column;
    }


}

/* Media query for screens between 481px and 768px (Tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-image,
    .right-image {
        width: 100%;
    }

    .slider-window,
    .content-box {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }


}

@media (max-width: 720px) {

    .left-image,
    .right-image {
        display: none;
    }

    .slider-window {
        max-height: 500px;
        width: 300px;
    }
}

/* Media query for screens between 769px and 1024px (Small Laptops and Desktops) */
@media (min-width: 769px) and (max-width: 1024px) {
    .content-box {
        width: 80%;
    }

}

/* Media query for screens between 1025px and 1440px (Larger Laptops and Desktops) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .content-box {
        width: 70%;
    }

}

/* Media query for screens larger than 1440px (Large Desktops) */
@media (min-width: 1441px) {
    .content-box {
        width: 60%;
    }

}

@media (max-width: 720px) {
    .inner-box {
        max-height: 400px;
        /* Adjust the height as per your requirement */
        overflow-y: scroll;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .content-box {
        margin-bottom: 20px;
        border-radius: 10px;
    }
}

/* header animation media query */

@media only screen and (max-width: 900px) {
    .dropdown .dropdown-content a {
        font-size: 22px;
    }

    .dropdown-content a:hover {
        color: #050505;
        background-color: #d9d7d7;
        font-weight: 600;
    }

    .dropdown:hover .dropdown-content {
        z-index: 50;
        display: block;
    }
}




/* header animation media query */

@media only screen and (max-width: 900px) {
    .dropdown .dropdown-content a {
        font-size: 22px;
    }

    .dropdown-content a:hover {
        color: #050505;
        background-color: #d9d7d7;
        font-weight: 600;
    }

    .dropdown:hover .dropdown-content {
        z-index: 50;
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .logo {
        margin-left: 20px;
    }
}